.place__text {
    grid-area: place__text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-self: start;
}