.footer {
    display: flex;
    flex-direction: row;
    padding: 0 48px 24px;
    justify-content: space-between;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
        padding: 0 118px 24px 16px;
    }
}